.JoinPage{
    background-color: rgb(42, 37, 37);
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    width: 10vmax;
}

.JoinContainer > h1{
    color: white;
    font-size: 3vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    padding: 1vmax;
    text-align: center;
    box-sizing: border-box;
     
}

#joinInput{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin:2vmax;
    box-sizing: border-box;
}


#userMobile{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin:2vmax;
    box-sizing: border-box;
}

#joinRoom{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin:2vmax;
    box-sizing: border-box;
}


.joinbtn{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    color: white;
    background-color: rgba(228, 143, 24, 0.958);
    transition: all 0.3s;
    cursor: pointer;
}

.joinbtn:hover{
    background-color: rgba(187, 120, 25, 0.958);;
}